//TEXT
$color-txt-dark: #403f3d;
$color-txt-light: #e1d4c9;
$color-txt-accent: #b0907a;

//BACKGROUND
$color-bgc-body: #e1d4c9;
$color-bgc-container: #665f55;
$color-bgc-backdrop: #403f3dcc;

$color-btn: #ff7f50;
$color-btn-hover: #7fffd4;

$light-filter-color: invert(97%) sepia(65%) saturate(806%) hue-rotate(70deg)
  brightness(103%) contrast(99%);
$dark-filter-color: invert(74%) sepia(68%) saturate(3807%) hue-rotate(326deg)
  brightness(102%) contrast(101%);

$desctop-width-L: 1200px;

$tablet-width-XL: 850px;

$mobile-width-L: 650px;

$font-txt-L: 1.6rem;
